/* src/style.css */
body, html, #app {
  margin: 0;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5; /* fondo claro como Ant Design */
}

a {
  color: #1890ff;
}

h1 {
  font-size: 1.8rem;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
}
